dbname_1=Oracle
Oracle.driver=oracle.jdbc.driver.OracleDriver
Oracle.datasource=jdbc:oracle:thin:@hostname:1521:DBNAME
Oracle.user=system
Oracle.password=manager

dbname_2=Informix
Informix.driver=com.informix.jdbc.IfxDriver
Informix.datasource=jdbc:informix-sqli://myhost:9090:informixserver=myserver
Informix.user=username
Informix.password=password

